* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100svh;
}
.cards {
  width: 100%;
  max-width: 90rem;
  display: grid;
  border-radius: 1rem;
  overflow: hidden;
  margin: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  transform:scale(1.2);
}

.card-1 {
  display: flex;
  flex-direction: column;
  background-color: hsl(31, 77%, 52%);
  padding: 4rem;
}
.card-2 {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  background-color: hsl(184, 100%, 22%);
}
.card-3 {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  background-color: hsl(179, 100%, 13%);
}
.logo {
  height: 3rem;
  margin-bottom: 2rem;
  padding-left: 1rem;
}
.heading {
  color: hsl(0, 0%, 95%);
  font-family: "Big Shoulders Display";
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.text-box {
  padding-left: 1rem;
}
.text {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 1.5rem;
  font-family: "Lexend Deca";
  margin-bottom: 8rem;
  line-height: 2.5rem;
}
.btn {
  border: 3px solid hsl(0, 0%, 95%);
  padding: 1rem 2rem;
  border-radius: 2rem;
  color: hsl(31, 77%, 52%);
  font-family: "lexend Deca";
  transition: all 0.4s;
}
.btn:hover,
.btn:active {
  background-color: hsl(31, 77%, 52%);
  color: hsl(0, 0%, 95%);
}

.luxury {
  color: hsl(179, 100%, 13%);
}
.luxury:hover,
.luxury:active {
  background-color: hsl(179, 100%, 13%);
  color: hsl(0, 0%, 95%);
}

.suvs {
  color: hsl(184, 100%, 22%);
}
.suvs:hover,
.suvs:active {
  background-color: hsl(184, 100%, 22%);
  color: hsl(0, 0%, 95%);
}
@media (max-width: 320px) {
  .cards {
    padding-top: 100rem;
    display: grid;
    grid-template-columns: 1fr;
    margin:2rem;
  }
  .card-1 {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }
}
